.navbar
  width 100%

.todo-item
  display block

main
  display flex
  flex-flow: row wrap;
  align-items flex-start
  width 100%
  position relative
  section
    width 80%

  section h1
    background-color rgba(148, 148, 148, 0.32)
    margin 0 2px 0 0

  aside
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height 100%
    background-color rgba(113, 171, 126, 0.32)







